@font-face {
  font-family: yofont;
  src: url("/miya/images/iconfont/iconfont.woff") format("woff"),
       url("/miya/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/miya/images/iconfont/iconfont.men.woff") format("woff"),
  url("/miya/images/iconfont/iconfont.men.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/miya/images/iconfont/iconfont.new.woff") format("woff"),
  url("/miya/images/iconfont/iconfont.new.ttf") format("truetype");
}